/*#region utilities */
:root {
	--logo-font: Raleway, sans-serif;
	--main-font: Roboto, sans-serif;

	--section-padding: 156px;

	--navyblue: #2e2f42;
	--iris: #4d5ae5;
	--ocean: #404bbf;
	--white: #fff;
	--slate: #434455;
	--light-slate: #8e8f99;
	--cloud: #f4f4fd;
	--cornflower: #e7e9fc;
	--green: #31d0aa;

	--main-animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
	font-family: var(--main-font);
	background-color: var(--white);
	color: var(--slate);
	letter-spacing: 0.04;
}

button {
	border: none;
	cursor: pointer;
	font-family: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.container {
	max-width: 1158px;
	padding-left: 15px;
	padding-right: 15px;
	margin-left: auto;
	margin-right: auto;
}

.link {
	text-decoration: none;
	color: currentColor;
	font-style: normal;
}

.list {
	list-style: none;
	padding: 0px;
	margin: 0px;
}

.title {
	margin-bottom: 72px;

	font-size: 36px;
	line-height: 1.11;
	text-align: center;
	text-transform: capitalize;
	color: var(--navyblue);
	letter-spacing: 0.02em;
}
/*#endregion utilities */

/*#region header */
.header {
	border-bottom: 1px solid var(--cornflower);
	background-color: var(--white);
}

.header-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.nav {
	display: flex;
	justify-content: start;
	align-items: center;
}

.logo {
	display: inline-block;
	padding-top: 24px;
	padding-bottom: 24px;
	margin-right: 76px;

	font-family: var(--logo-font);
	font-size: 18px;
	font-weight: 800;
	line-height: 1.17;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: var(--iris);
}

.logo-accent {
	color: var(--navyblue);
}

.main-nav {
	display: flex;
	justify-content: start;
	align-items: center;
	gap: 40px;
}

.main-nav-link {
	position: relative;

	cursor: pointer;
	color: var(--navyblue);
	font-weight: 500;
	line-height: 1.5;
	letter-spacing: 0.02em;
	padding-top: 24px;
	padding-bottom: 24px;
}

.main-nav-link::after {
	content: "";
	display: block;
	width: 100%;
	height: 4px;
	border-radius: 2px;
	background-color: currentColor;
	position: absolute;
	bottom: -1px;

	transform: scaleX(0%);
	transition: var(--main-animation);
}

.main-nav-link:hover,
.main-nav-link:focus {
	color: var(--ocean);
}

.main-nav-link:hover::after,
.main-nav-link:focus::after {
	transform: scaleX(100%);
}

.contacts-list {
	display: flex;
	justify-content: start;
	align-items: center;
	gap: 40px;

	font-style: normal;
}

.contacts-link {
	padding-top: 24px;
	padding-bottom: 24px;

	line-height: 1.5;
	letter-spacing: 0.02em;
	transition: var(--main-animation);
}

.contacts-link:hover,
.contacts-link:focus {
	color: var(--ocean);
}
/*#endregion header */

/*#region hero */
.hero {
	padding-top: 188px;
	padding-bottom: 188px;

	background-color: var(--navyblue);
	background-image: linear-gradient(
			rgba(46, 47, 66, 0.7),
			rgba(46, 47, 66, 0.7)
		),
		url("/images/hero_bg.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.hero-title {
	margin: 0px auto 48px;
	max-width: 496px;

	color: var(--white);
	font-size: 56px;
	text-align: center;
	letter-spacing: 0.02em;
	line-height: 1.07;
	letter-spacing: 0.02;
}

.hero-button {
	display: block;
	margin: 0px auto;
	padding: 16px 32px;
	min-width: 169px;

	font-size: 16px;
	font-weight: 500;
	line-height: 1.5;
	letter-spacing: 0.04em;

	color: var(--white);
	background-color: var(--iris);
	cursor: pointer;
	border-radius: 4px;
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);

	transition: var(--main-animation);
}

.hero-button:hover,
.hero-button:focus {
	background-color: var(--ocean);
}
/*#endregion hero */

/*#region advantages */
.advantages {
	padding: 120px 0;
}

.advantages-list {
	display: flex;
	gap: 24px;
}

.advantages-item {
	flex-basis: calc((100% - 24px * 3) / 4);
}

.advantages-item::before {
	content: "";
	display: block;
	height: 120px;
	background-color: var(--cloud);
	border-radius: 4px;
	margin-bottom: 8px;
	background-size: auto;
	background-repeat: no-repeat;
	background-position: center;
}

.advantages-item:nth-child(1)::before {
	background-image: url(/images/advantages/antenna.svg);
}

.advantages-item:nth-child(2)::before {
	background-image: url(/images/advantages/clock.svg);
}

.advantages-item:nth-child(3)::before {
	background-image: url(/images/advantages/diagram.svg);
}

.advantages-item:nth-child(4)::before {
	background-image: url(/images/advantages/astronaut.svg);
}

.advantages-subtitle {
	margin-bottom: 8px;

	color: var(--navyblue);
	font-size: 20px;
	font-weight: 500;
	letter-spacing: 0.02em;
	line-height: 1.2;
}

.advantages-text {
	letter-spacing: 0.02em;
	line-height: 1.5;
}
/*#endregion advantages */

/*#region services */
.services {
	padding-bottom: 120px;
}

.services-list {
	display: flex;
	gap: 24px;
}
/*#endregion services */

/*#region team */
.team {
	padding: 120px 0px;

	background-color: #f4f4fd;
}

.team-list {
	display: flex;
	gap: 24px;
}

.team-item {
	overflow: hidden;
	border-radius: 0px 0px 4px 4px;
	background-color: #fff;
	box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
		0px 1px 1px 0px rgba(46, 47, 66, 0.16),
		0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.team-text-wrapper {
	padding: 32px 0;
	text-align: center;
}

.team-subtitle {
	margin-bottom: 8px;

	color: var(--navyblue);
	font-size: 20px;
	font-weight: 500;
	line-height: 1.2;
	letter-spacing: 0.02em;
}

.team-text {
	margin-bottom: 8px;

	letter-spacing: 0.02em;
	line-height: 1.5;
}

.socials-list {
	display: flex;
	justify-content: center;
	gap: 24px;
}

.socials-link {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;

	background-color: var(--iris);
	color: var(--cloud);
	transition: var(--main-animation);
}

.socials-link:hover,
.socials-link:focus {
	background-color: var(--green);
}

/*#endregion team */

/*#region customers */
.customers {
	padding: 120px 0;
}

.customers-list {
	display: flex;
	gap: 24px;
}

.customers-link {
	display: flex;
	justify-content: center;
	border: 1px solid currentColor;
	border-radius: 4px;
	width: 168px;
	height: 88px;
	color: var(--light-slate);

	transition: var(--main-animation);
}

.customers-link:hover,
.customers-link:focus {
	color: var(--ocean);
}
/*#endregion customers */

/*#region footer */
.footer {
	padding: 100px 0px;

	background-color: var(--navyblue);
	color: var(--cloud);
}

.footer-container {
	display: flex;
}

.footer .logo {
	padding: 0;
	margin: 0px 0px 16px;
}

.footer .logo-accent {
	color: var(--cloud);
}

.footer-text {
	width: 264px;

	line-height: 1.5;
	letter-spacing: 0.02em;
}

.footer-socials-wrapper {
	display: flex;
	flex-direction: column;
	align-items: start;
	width: 208px;
	margin-left: 120px;
}

.footer-socials-title {
	margin-bottom: 16px;

	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	line-height: 1.5em;
	letter-spacing: 0.02em;
	color: var(--white);
}

.footer .socials-list {
	gap: 16px;
}
/*#endregion footer */

/*#region portfolio */
.portfolio {
	padding-top: 96px;
	padding-bottom: 120px;
}

.portfolio-nav {
	display: flex;
	gap: 24px;
	justify-content: center;
	margin-bottom: 72px;
}

.portfolio-button {
	padding: 12px 24px;
	border-radius: 4px;

	background-color: var(--cloud);
	border: 1px solid var(--cornflower);
	color: var(--iris);
	font-size: 16px;
	font-weight: 500;
	line-height: 1.5;
	letter-spacing: 0.04em;

	transition: var(--main-animation);
}

.portfolio-button:hover,
.portfolio-button:focus {
	color: var(--white);
	background-color: var(--ocean);
	border: 1px solid transparent;
}

.portfolio-gallery {
	display: flex;
	flex-wrap: wrap;
	row-gap: 48px;
	column-gap: 24px;
}

.portfolio-gallery-item {
	position: relative;
	flex-basis: calc((100% - 24px * 2) / 3);
}

.portfolio-gallery-item:hover .portfolio-overlay-text,
.portfolio-gallery-item:focus .portfolio-overlay-text {
	transform: translateY(0%);
	opacity: 1;
}

.portfolio-overlay-wrapper {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 300px;
	overflow: hidden;
}

.portfolio-overlay-text {
	position: absolute;
	width: 100%;
	height: 100%;
	padding: 40px 32px;

	font-size: 16px;
	font-weight: 400;
	line-height: 1.5em;
	letter-spacing: 0.02em;
	color: var(--cloud);
	background-color: var(--iris);

	transform: translateY(100%);
	opacity: 0;

	transition: var(--main-animation);
}

.portfolio-item-wrapper {
	padding: 32px 16px;
	border: 1px solid var(--cornflower);
	border-top: none;
}

.portfolio-gallery-title {
	margin-bottom: 8px;

	color: var(--navyblue);
	font-size: 20px;
	font-weight: 500;
	line-height: 1.2;
	letter-spacing: 0.02em;
}

.portfolio-gallery-text {
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
}
/*#endregion portfolio */
