/*#region utilities */
:root {
	--logo-font: Raleway, sans-serif;
	--main-font: Roboto, sans-serif;

	--section-padding: 156px;

	--navyblue: #2e2f42;
	--iris: #4d5ae5;
	--ocean: #404bbf;
	--white: #fff;
	--slate: #434455;
	--cloud: #f4f4fd;
	--cornflower: #e7e9fc;
}

body {
	font-family: var(--main-font);
	background-color: var(--white);
	color: var(--slate);
	letter-spacing: 0.04;
}

button {
	border: none;
	cursor: pointer;
	font-family: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.container {
	max-width: 1158px;
	padding-left: 15px;
	padding-right: 15px;
	margin-left: auto;
	margin-right: auto;
	border: 2px solid red;
}

.link {
	text-decoration: none;
	color: currentColor;
	font-style: normal;
}

.list {
	list-style: none;
	padding: 0px;
	margin: 0px;
}

.title {
	margin-bottom: 72px;

	font-size: 36px;
	line-height: 1.11;
	text-align: center;
	text-transform: capitalize;
	color: var(--navyblue);
	letter-spacing: 0.02em;
}
/*#endregion utilities */

/*#region header */
.header-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.nav {
	display: flex;
	justify-content: start;
	align-items: center;
	gap: 76px;
}

.logo {
	padding-top: 24px;
	padding-bottom: 24px;

	font-family: var(--logo-font);
	font-size: 18px;
	font-weight: 800;
	line-height: 1.17;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: var(--iris);
}

.logo-accent {
	color: var(--navyblue);
}

.main-nav {
	display: flex;
	justify-content: start;
	align-items: center;
	gap: 40px;
}

.main-nav-link {
	cursor: pointer;
	color: var(--navyblue);
	font-weight: 500;
	line-height: 1.5;
	letter-spacing: 0.02em;
	padding-top: 24px;
	padding-bottom: 24px;
}

.main-nav-link:hover,
.main-nav-link:focus {
	color: var(--ocean);
}

.contacts-list {
	display: flex;
	justify-content: start;
	align-items: center;
	gap: 40px;

	font-style: normal;
}

.contacts-link {
	padding-top: 24px;
	padding-bottom: 24px;

	line-height: 1.5;
	letter-spacing: 0.02em;
}

.contacts-link:hover,
.contacts-link:focus {
	color: var(--ocean);
}
/*#endregion header */

/*#region hero */
.hero {
	padding-top: 188px;
	padding-bottom: 188px;
	text-align: center;

	background-color: var(--navyblue);
}

.hero-title {
	margin-bottom: 48px;

	color: var(--white);
	font-size: 56px;
	text-align: center;
	letter-spacing: 0.02em;
	line-height: 1.07;
	letter-spacing: 0.02;
}

.hero-button {
	padding: 16px 32px;

	font-size: 16px;
	font-weight: 500;
	line-height: 1.5;
	letter-spacing: 0.04em;

	color: var(--white);
	background-color: var(--iris);
	cursor: pointer;
	border-radius: 4px;
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.hero-button:hover,
.hero-button:focus {
	background-color: var(--ocean);
}
/*#endregion hero */

/*#region advantages */
.advantages {
	padding-top: 120px;
	padding-bottom: 60px;
}

.advantages-list {
	display: flex;
	justify-content: space-between;
}

.advantages-item {
	flex-basis: calc((100% - 24px * 3) / 4);
}

.advantages-subtitle {
	margin-bottom: 8px;

	color: var(--navyblue);
	font-size: 20px;
	font-weight: 500;
	letter-spacing: 0.02em;
	line-height: 1.2;
}

.advantages-text {
	letter-spacing: 0.02em;
	line-height: 1.5;
}
/*#endregion advantages */

/*#region services */
.services {
	padding-top: 60px;
	padding-bottom: 120px;
}

.services-list {
	display: flex;
	justify-content: space-between;
}
/*#endregion services */

/*#region team */
.team {
	padding: 120px 0px;

	background-color: #f4f4fd;
}

.team-list {
	display: flex;
	justify-content: space-between;
}

.team-item {
	overflow: hidden;
	border-radius: 4px;
	background-color: #fff;
	box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
		0px 1px 1px 0px rgba(46, 47, 66, 0.16),
		0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.team-text-wrapper {
	margin: 32px auto;
	text-align: center;
}

.team-subtitle {
	margin-bottom: 8px;

	color: var(--navyblue);
	font-size: 20px;
	font-weight: 500;
	line-height: 1.2;
	letter-spacing: 0.02em;
}

.team-text {
	letter-spacing: 0.02em;
	line-height: 1.5;
}
/*#endregion team */

.footer {
	background-color: var(--navyblue);
	color: var(--cloud);
}

.footer .logo-accent {
	color: var(--cloud);
}

.footer-text {
	line-height: 1.5;
	letter-spacing: 0.02em;
}

.portfolio-button {
	background-color: var(--cloud);
	border: 1px solid var(--cornflower);
	color: var(--iris);
	font-size: 16px;
	font-weight: 500;
	line-height: 1.5;
	letter-spacing: 0.04em;
}

.portfolio-button:hover,
.portfolio-button:focus {
	color: var(--white);
	background-color: var(--ocean);
	border: 1px solid var(--ocean);
}

.portfolio-gallery-title {
	color: var(--navyblue);
	font-size: 20px;
	font-weight: 500;
	line-height: 1.2;
	letter-spacing: 0.02em;
}

.portfolio-gallery-text {
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
}
