:root {
	--logo-font: Raleway, sans-serif;
	--main-font: Roboto, sans-serif;

	--section-padding: 156px;

	--navyblue: #2e2f42;
	--iris: #4d5ae5;
	--ocean: #404bbf;
	--white: #fff;
	--slate: #434455;
	--cloud: #f4f4fd;
	--cornflower: #e7e9fc;
}

body {
	font-family: var(--main-font);
	background-color: var(--white);
	color: var(--slate);
	letter-spacing: 0.04;
}

button {
	border: none;
	cursor: pointer;
	font-family: inherit;
}

.link {
	text-decoration: none;
	color: currentColor;
	font-style: normal;
}

.list {
	list-style: none;
}

.logo {
	font-family: var(--logo-font);
	font-size: 18px;
	font-weight: 800;
	line-height: 1.17;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: var(--iris);
	margin-right: 76px;
}

.logo-accent {
	color: var(--navyblue);
}

.main-nav-link {
	cursor: pointer;
	color: var(--navyblue);
	font-weight: 500;
	line-height: 1.5;
	letter-spacing: 0.02em;
}

.main-nav-link:hover,
.main-nav-link:focus {
	color: var(--ocean);
}

.contacts {
	font-style: normal;
}

.contacts-link {
	line-height: 1.5;
	letter-spacing: 0.02em;
}

.contacts-link:hover,
.contacts-link:focus {
	color: var(--ocean);
}

.hero {
	background-color: var(--navyblue);
}

.hero-title {
	color: var(--white);
	font-size: 56px;
	text-align: center;
	letter-spacing: 0.02em;
	line-height: 1.07;
	letter-spacing: 0.02;
}

.hero-button {
	font-size: 16px;
	font-weight: 500;
	line-height: 1.5;
	letter-spacing: 0.04em;

	color: var(--white);
	background-color: var(--iris);
	cursor: pointer;
}

.hero-button:hover,
.hero-button:focus {
	background-color: var(--ocean);
}

.advantages-title {
	visibility: hidden;
}

.advantages-subtitle {
	color: var(--navyblue);
	font-size: 20px;
	font-weight: 500;
	letter-spacing: 0.02em;
	line-height: 1.2;
}

.advantages-text {
	letter-spacing: 0.02em;
	line-height: 1.5;
}

.title {
	font-size: 36px;
	line-height: 1.11;
	text-align: center;
	text-transform: capitalize;
	color: var(--navyblue);
}

.team {
	background-color: #f4f4fd;
}

.team-item {
	background-color: #fff;
}

.team-subtitle {
	color: var(--navyblue);
	font-size: 20px;
	font-weight: 500;
	line-height: 1.2;
	letter-spacing: 0.02em;
}

.team-text {
	letter-spacing: 0.02em;
	line-height: 1.5;
}

.footer {
	background-color: var(--navyblue);
	color: var(--cloud);
}

.footer .logo-accent {
	color: var(--cloud);
}

.footer-text {
	line-height: 1.5;
	letter-spacing: 0.02em;
}

.portfolio-button {
	background-color: var(--cloud);
	border: 1px solid var(--cornflower);
	color: var(--iris);
	font-size: 16px;
	font-weight: 500;
	line-height: 1.5;
	letter-spacing: 0.04em;
}

.portfolio-button:hover,
.portfolio-button:focus {
	color: var(--white);
	background-color: var(--ocean);
	border: 1px solid var(--ocean);
}

.portfolio-gallery-title {
	color: var(--navyblue);
	font-size: 20px;
	font-weight: 500;
	line-height: 1.2;
	letter-spacing: 0.02em;
}

.portfolio-gallery-text {
	font-size: 16px;
	line-height: 1.5;
}
